nav {
background-color: grey;
position: fixed;
}
nav ul {
	list-style-type: inline;
	padding: 0;
	margin: 0;
	
	 }
nav li{
float: left;
padding-left: 20px;
}




h1{
	border-style: dashed;
	border-bottom-color: grey;
	border-top-color: grey; 
	border-bottom-width: 4pxpx;
	border-left-color: red;
	border-right-color: red;
	background-color: #FFE5E5;
	font-family: arial;
	text-align: center;
}	



h2{
	color: blue;
	padding-left: 50px;
}

h3{
	color: red;
}

footer{
	color: grey;
}

p{ 
	margin: 15px;
	padding: 30px;
}
	