nav {
padding: 5px;
margin-bottom: 25px;
margin-right: 25px;
background-color: grey;
position: fixed;
top:0;
left:0;
<<<<<<< HEAD
padding-right: 10px;
padding-left: 20px;

=======
>>>>>>> origin/master
}

nav ul {
	list-style-type: inline;
	padding: 0;
	margin: 0;
	list-style-type: none;
	
}
	 
nav li{
<<<<<<< HEAD
float: left;

=======
	float: left;
	padding-right: 10px;
	padding-left: 20px;
>>>>>>> origin/master
}

nav a {
	text-decoration: none;
	text-decoration: overline;
}



h1{
	padding: 15px;
	margin: 40px;
	border-style: dotted;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: white;
	border-top-color: white; 
	border-bottom-width: 4px;
	border-left-color: red;
	border-right-color: red;
	background-color: #FF3333;
	font-family: arial;
	text-align: center;
}	



h2{
	color: blue;
	padding-left: 55px;
}

h3{
	color: red;
	margin-left: 50px;
}

footer{
	color: grey;
	margin: 15px;
}

p{ 
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 25px;
	background-color: #FFDBDB;
}
img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}	
