
h1{
	border-style: dashed;
	border-bottom-color: grey;
	border-top-color: grey; 
	border-bottom-width: 3px;
	border-left-color: red;
	border-right-color: red;
	background-color: #FFE5E5;
	font-family: arial;
	text-align: center;
}	



h2{
	color: blue;
	padding-left: 50px;
}

h3{
	color: red;
}

footer{
	color: grey;
}

p{ 
	margin: 15px;
	padding: 30px;
}
	