nav {
background-color: grey;
position: fixed;
top:0;
left:0;
}
nav ul {
	list-style-type: inline;
	padding: 0;
	margin: 0;
	list-style-type: none;
	
	 }
nav li{
float: left;
padding-left: 20px;
}

nav a {
text-decoration: none;
}



h1{
	border-style: dotted;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: grey;
	border-top-color: grey; 
	border-bottom-width: 4px;
	border-left-color: red;
	border-right-color: red;
	background-color: #FFE5E5;
	font-family: arial;
	text-align: center;
}	



h2{
	color: blue;
	padding-left: 50px;
}

h3{
	color: red;
}

footer {
	color: grey;
	position: fixed;
}

p{ 
	margin: 15px;
	padding: 30px;
}
	